# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directory
.venv/

# Ignore large CSV file
Motor_Vehicle_Collisions_Crashes.csv

# Ignore IDE settings directory
.idea/
